<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/download.svg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" 
    integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Download File | Link-Share</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <a href="https://link-share-app.netlify.app/" target="_blank" class="github" aria-label="View source on GitHub">
        <img src="/img/link.png" alt="link-share logo" class="logo">
    </a>
   

    <section class="download">
        <img class="download__icon" src="/img/download-sd.svg" alt="link-share-download">
        <% if(locals.error){ %>
        <h4><%= locals.error %> </h4>
        <% } else { %>
        <h2>Download your file Here.</h2>
        <p>Link validate uptill 24 hours</p>
        <div class="download__meta">
            <h4><%= fileName %></h4>
            <small><%= (parseInt(fileSize)/1024).toFixed(2) %> KB</small>
        </div>
        <div class="send-btn-container">
            <a href="<%= downloadLink %>">Download file</a>
        </div>
        <% } %>
    </section>

      <div class="icons">
        <ul >
            <li><a href="https://www.linkedin.com/in/aagam-jain-gl01/" target="_blank"><i class="fa-brands fa-linkedin" ></i></a></li>
            <li><a href="https://github.com/getlost01" target="_blank"><i class="fa-brands fa-github-square"></i></a></li>
            <li><a href="https://portfolio-de-aagam.netlify.app/" target="_blank"><i class="fa-solid fa-square-share-nodes"></i></a></li>
        </ul>
    </div>

</body>

</html>